<li>
    {{burger_name}}

    <button class="change-eaten" data-id="{{id}}" data-neweat="{{devoured}}">
        {{!-- {{#if devoured}}DINNER TIME!{{else}}PUT THE FORK DOWN!{{/if}} --}}
        {{#if devoured}}DINNER TIME!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>